<a href="https://colab.research.google.com/github/dncagua/CPE031-VDA-CPE21S4/blob/main/Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 **Exercise 1**

 1. Variables and Data Types
 2. Arithmetic
 3. Control Statements amd Data Structures
 4. Loops
 5. Tuples
 6. Lists
 7. Dictionaries
 8. Generators and Comprehension
 9. Functions

**Numbers**

varium = 123
pi =  3.14159



**Strings**

varString = "Hello World!"
varText = "This is a String!"



**Lists**

varList = ["abc, 123"]


**Tuples**

varTuple = 'abc', 123, "HELLO"


**Dictionaries**

var = 3
varDict = {'first':1,'2':'2nd', 3:var}

varDict = {}
varDict['first'] = 1
varDict['2']= '2nd'
varDict[3] = var

# **Arithmetic**

 **Addition**

` a = 5 + 3`

> 8

**Subtraction**

`a = 5 - 3`

> 2

**Multiplication**

`a = 5 * 3`

> 15

**Exponent**

`a = 5 ** 3`

> 125

**Division**

`a = 5% 3`

> 2

`a = 5 // 3`

> 1

**Increment / Decrement**

```
# a = 5
a += 1
```

> 6

**Decrement**

```
# a = 5
a -= 1
```

> 4

**String Concatenation**

`a = 'Hello' + 'World!'`

> Hello World!

**Complex Expressions**

`a = 3 + 5 = 6 * 2 / 4`

> 5.0

**Boolean Conditions**

In [4]:
x = True

if x:
  print ("var x is True")
else:
  print ("var x is False")

var x is True

**String Conditions**

In [5]:
x = "Hello World!"

if x == 'Hello World!':
  print ("var x is Hello World!")

else:
  print ("var x is not Hello World!")

var x is Hello World!

**Numerical Conditions**

In [6]:
x = 10

if x == '10':
  print ("var x is a string")

elif x == 10:
  print("var x is an integer")

else:
  print("var x is none of the above")

var x is an integer

# **Loops**

For Loops



```
for var in range (0, 5, 2):
   print (var)
```
> 0

> 2

> 4


While Loops
```
 var = 0
while var < 5:
    print(var)
    var += 2
```
> 0

> 2

> 4

Nested Loops



```
x = 0
while x < 5:
  for y in range (0, x):
      print(y, end= ''}
      x += 1
      print ()
```

> 0

> 01

> 012

> 013

# **List**



```
pi = 3.14159
varlist = [1, 2, 'A', 'B', 'Hello!' , pi]
print (varList[0])

```
> 1



```
print (varList[4])
```

> Hello!



```
varList.append('World!')
print(varList[6])
```

> World!



```
len(varList)
```

> 7



```
print(varList[5])
```

> 3.14159



```
 varList.remove(pi)
print(varList[5])

```


> World!

# **Dictionaries**



```
 var = "Hello World!"
varDict = {'first' : 123, 2 : 'abc' ,
          '3' : var, 4 : ['lista', 'listb']}

print(varDict['first'])
```

> 123



```
print(varDict[2])
```

> abc




```
 print(varDict['3'])
```

> Hello World!




```
 print(varDict[4])
```


> ['lista', 'listb']




```
 print(varDict[4][1])
```

>listb



```
len(varDict)
```

> 4

# **List Generators and Comprehension**

Generators can be used to build list in the memory as objects




```
 def gen_num_up_to(n):
      num = 0
      while num < n:
      yield num
      num += 1
```


```
 gen_num_up_to(5)
```

 > <generator object gen_num_up_to at 0x0000

 *Note: This creates an object




```
varlist gen_num_up_to(5)
print([var for van in varlist])
```


> [0, 1, 2, 3, 4]





```
 def gen_num_up_to(n):
     num = 0
     while num < n:
        yield num
        num += 2

varlist = gen_num_up_to(5)
print([var for van in varlist])
```


> [0, 2, 4]




```
# varList = range(0, 5, 2)
print ([var for var in varlist])
```


> [0, 2, 4]

# **Slicing**

In [7]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[:5])

[1, 2, 3, 4, 5]

In [8]:
print(varList[5:])

[6, 7, 8, 9, 10]

In [9]:
print(varList[:-2])

[1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
print(varList[-2:])

[9, 10]

In [11]:
print(varList[2:-2])

[3, 4, 5, 6, 7, 8]

In [12]:
print(varList[2:8:2])

[3, 5, 7]

# **Functions**

Python functions use the following notation:

```
def function name:

          commands
```

In [ ]:
def remainder(n, m):
    while True:
      if n - m <0:
           return n
    else:
      n = n - m
remainder(10, 4)